<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" 
	name="blattoidea_gazebo">

	<xacro:include filename="$(find blattoidea)/urdf/base_footprint.xacro"/>
	<xacro:base_footprint/>

	<xacro:include filename="$(find blattoidea)/urdf/blattoidea.urdf.xacro"/>

	<xacro:include filename="$(find blattoidea)/urdf/DiffDrive.xacro"/>
	<xacro:DiffDrive/>
	
	<xacro:include filename="$(find blattoidea)/urdf/kinectX3.xacro"/>
	<xacro:kinect/>
	
</robot>
