<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
	<xacro:macro name="GPS">
		<joint name="GPS_joint" type="fixed">
			<origin xyz="0.1 0 0.17" rpy="0 0.0 0" />
			<parent link="base_link" />
			<origin xyz="0 0 0" rpy="0 0 0" />
			<child link="GPS_link" />
		</joint>

		<link name="GPS_link">
		</link>

		

		<gazebo reference="GPS_link">
				<plugin name="gps_controller" filename="libhector_gazebo_ros_gps.so">
					<alwayson>true</alwayson>
					<updaterate>1.0</updaterate>
					<bodyname>GPS_link</bodyname>
					<topicname>/fix</topicname>
					<velocitytopicname>/fix_velocity</velocitytopicname>
					<drift>5.0 5.0 5.0</drift>
					<gaussiannoise>0.1 0.1 0.1</gaussiannoise>
					<velocitydrift>0 0 0</velocitydrift>
					<velocitygaussiannoise>0.1 0.1 0.1</velocitygaussiannoise>
				</plugin>
		</gazebo>
	</xacro:macro>
</robot>
